@model Blog.Models.ViewModels.PostTagNameViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    
</head>
<body>
    <form asp-action="Add" asp-controller="AdminPanel" id="app">
        <input asp-for="Post.Title"  />
        <textarea id="input" asp-for="Post.Content"></textarea>
        <input asp-for="TagNames" />
        <input type="submit" value="Save" />
    </form>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
    var simplemde = new SimpleMDE({ element: document.getElementById("input") });
    simplemde.value("");
    </script>
</body>
</html>
