@model Blog.Models.ViewModels.AccountViewModel
@inject SignInManager<Blog.Models.ApplicationUser> SignInManager

<form asp-for="login" method="post">
    <h4>Use a local account to log in.</h4>
    <hr />
    <div class="form-group">
        <input asp-for="@Model.Email" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="@Model.Password" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Log in</button>
    </div>
</form>