@model ICollection<Blog.Models.Tag>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Archive";
}
<div>
    <div>
        <h2>Featured tags:</h2>
        <span>
            @foreach (var tag in Model)
            {
                <button>@tag.Name</button>
            }
        </span>
    </div>
    @foreach (var tag in Model)
    {
        <div>
            <p><b><i>@tag.Name</i></b></p>
            <ul>
                @foreach (var post in tag.PostTags)
                {
                    <li><a asp-controller="Home" asp-action="Read" asp-route-id="@post.PostId">@post.Post.Title</a></li>
                }
            </ul>
        </div>
    }
</div>