@model ICollection<Blog.Models.Post>
<!DOCTYPE html>
@{
    Layout = "_Layout";
}

@foreach (var post in Model)
{
    <h2><a asp-controller="Home" asp-action="Read" asp-route-id="@post.Id" class="blog_navigation">@post.Title</a></h2>
}

