@model ICollection<Blog.Models.Post>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <header>Blog Title</header>
    <p1>Hello World!</p1>
    <main>
        @foreach (Blog.Models.Post post in Model)
        {
        <article>
            <a asp-controller="Home" asp-action="Read" asp-route-id="@post.Id">
                @post.Title
            </a>
                <p>@post.Content</p>
                <p>Tags:</p>
                @foreach (Blog.Models.PostTag postTag in post.PostTags)
                {
                    <p>@postTag.Tag.Name</p>
                }
        </article>
        }
    </main>
</body>
</html>
