@model Blog.Models.Other.BlogData
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>About</h2>
    <p>@Model.AuthorName</p>
    <p>@Model.MailAddress</p>
    <p>@Model.PhoneNumber</p>
</div>
