@model Blog.Models.ViewModels.AccountCreateViewModel
<form asp-action="Add" method="post">
    <label>Email</label>
    <input asp-for="LoginData.Email" />
    <label>Password</label>
    <input asp-for="LoginData.Password" />
    <label>Admin account</label>
    <input asp-for="IsAdmin" type="checkbox" />
    <input type="submit" value="Add user" />
</form>