.root {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.comments_list {
    list-style: none;
    padding: 0;
}

.authors_name, .get_more_btn {
    display: block;
    background-color: #0f6a8e;
    color: #f3f7c5;
    text-align: center;
    border: none;
}

.publication_date {
    font-weight: bold;
    color: #0f6a8e;
}

    .publication_date::before {
        content: "Published: ";
        color: black;
        font-weight: normal;
    }

.loadingIcon {
    display: flex;
    justify-content: center;
}