html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f3f7c5;
}

#flex_container {
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100%;
}

.menu_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f3f7c5;
    width: 15%;
    background-color: #0f6a8e;
}

.navigation_menu {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

    .navigation_menu li {
        background-color: #0b5370;
        text-align: center;
        margin-top: 5px;
        padding: 1px;
    }

        .navigation_menu li a {
            display: block;
            width: 100%;
            height: 100%;
        }

.menu_container a:link, .menu_container a:visited {
    color: #f3f7c5;
    text-decoration: none;
}

.navigation_menu li a:hover, .logo:hover {
    background-color: #1594c6;
}

.content_container {
    width: 40%;
}

.post_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 5px;
    border-radius: 80px;
}

.blog_name {
    font-family: 'Ubuntu Mono', monospace;
}

.post_title {
    display: block;
    background-color: #0f6a8e;
    width: 100%;
    text-align: center;
}

    .post_title a:link, .post_title a:visited {
        color: #f3f7c5;
        text-decoration: none;
        display: block;
    }

    .post_title a:hover {
        background-color: #f3f7c5;
        color: #0f6a8e;
    }

.author_name {
    font-weight: bold;
    color: #0f6a8e;
}

.right_margin {
    background: url('../assets/margin_image.jpg') repeat-y #0f6a8e;
    background-size: cover;
    width: 20%;
    margin: 0;
}

.pages_wraper {
    background-color: #0f6a8e;
}

.page_number {
    display: inline-block;
    text-align: center;
    padding: 5px;
    font: bold;
    font-size: 25px;
}

    .page_number:visited, .page_number:link {
        text-decoration: none;
        color: #f3f7c5;
    }

    .page_number:hover {
        color: #0f6a8e;
        background-color: #f3f7c5;
    }

@media only screen and (max-width: 640px) {

    #flex_container {
        flex-direction: column;
        align-items: center;
    }

    .menu_container {
        top: 0;
        left: 0;
        position: initial;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .navigation_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .navigation_menu * {
            width: 100%;
        }

    .right_margin {
        width: 100%;
        height: 20%;
    }
}
