html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f3f7c5;
}

.content_container {
    width: 60%;
}

#flex_container {
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    min-height: 100%;
}

.menu_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #f3f7c5;
    width: 15%;
    background-color: #0f6a8e;
}

.navigation_menu {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

    .navigation_menu li {
        background-color: #0b5370;
        text-align: center;
        margin-top: 5px;
        padding: 1px;
    }

        .navigation_menu li a {
            display: block;
            width: 100%;
            height: 100%;
        }

.menu_container a:link, .menu_container a:visited {
    color: #f3f7c5;
    text-decoration: none;
}

.navigation_menu li a:hover, .logo:hover {
    background-color: #1594c6;
}

.post_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 5px;
    border-radius: 80px;
}

.blog_name {
    font-family: 'Ubuntu Mono', monospace;
}

.section_title {
    width: 100%;
    text-align: center;
    background-color: #0f6a8e;
    color: #f3f7c5;
}

.author_data, .tag_name {
    font-weight: bold;
    color: #0f6a8e;
}

.right_margin {
    background: url('../assets/margin_image.jpg') repeat-y #0f6a8e;
    background-size: cover;
    width: 20%;
    margin: 0;
}

.pages_wraper {
    background-color: #0f6a8e;
}

.page_number {
    display: inline-block;
    text-align: center;
    padding: 5px;
    font: bold;
    font-size: 25px;
}

.main_nav:visited, .main_nav:link {
    display: block;
    text-decoration: none;
    color: #f3f7c5;
    background-color: #0f6a8e;
    width: 100%;
}

.main_nav:hover {
    color: #0f6a8e;
    background-color: #f3f7c5;
}

.post_info_wraper {
    text-align: center;
}

.post_content_container, .blog_description {
    border-width: 5px 0;
    border-style: dotted;
    border-color: #0f6a8e;
}

.comment_form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

    .comment_form button {
        background-color: #0f6a8e;
        color: #f3f7c5;
        border: none;
    }

#comment_content_input, #comment_author_input {
    border-color: #b5c6ce;
    border-style: solid;
    border-width: thin;
}

.archive_navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tag_nav {
    background-color: #0f6a8e;
    border: none;
    color: #f3f7c5;
    padding: 5px 10px 5px 10px;
    font-size: 21px;
}

.tag_posts_list {
    list-style: none;
    padding: 0;
}

.tag_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post_tag_name {
    padding: 5px;
    margin: 5px;
}

    .post_tag_name:link, .post_tag_name:visited {
        color: #608a9b;
        font-weight: bold;
    }

@media only screen and (max-width: 640px) {
    #flex_container {
        flex-direction: column;
        align-items: center;
    }

    .menu_container {
        top: 0;
        left: 0;
        position: initial;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .navigation_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .navigation_menu * {
            width: 100%;
        }

    .right_margin {
        width: 100%;
        height: 20%;
    }

    .archive_navigation {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .content_container {
        width: 90%;
    }
}
